* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

header .header-title h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 75px;
  line-height: 75px;
  letter-spacing: 1.3px;
  color: #e6dee7; }

header .header-title span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height, or 114% */
  text-align: center;
  color: #e6dee7; }

.main-header_section1 .section1-text h2, .main-header_section2 .section2-text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 62px;
  /* identical to box height, or 97% */
  letter-spacing: 0.3px;
  color: #1c182a; }

.main-header_section1 .section1-text p, .main-header_section2 .section2-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  /* or 145% */
  letter-spacing: 0.3px;
  color: #1c182a; }

.under-main-header .text_under-main h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 105px;
  color: #e6dee7; }

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff"), url("../fonts/roboto-v30-latin-300.ttf") format("truetype"), url("../fonts/roboto-v30-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }
.container {
  max-width: 1430px;
  margin: 0 auto; }

header {
  background-image: url(../img/header/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #e03fff;
  padding: 12px 0px 746px 0px;
  text-align: center; }
  header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header-title h1 {
    margin-bottom: 95px; }

@media (max-width: 800px) {
  .container {
    padding: 0px 10px; }

  header {
    padding: 20px 0px 350px 0px; }
    header .header-title h1 {
      margin-top: 20px;
      font-weight: 400;
      font-size: 34px;
      line-height: 49px;
      margin-bottom: 50px; }
    header .header-title span {
      font-size: 20px; } }
.wrapper {
  max-width: 1430px;
  margin: 0 auto;
  position: relative; }
  .wrapper .main-header-icon1 {
    position: absolute;
    top: 100%;
    right: -3%;
    z-index: 1; }
  .wrapper .main-header-icon6 {
    position: absolute;
    top: -26%;
    left: 0%; }
  .wrapper .main-header-icon2 {
    position: absolute;
    top: -19%;
    left: -4%; }
  .wrapper .main-header-icon3 {
    position: absolute;
    top: 6%;
    left: 1%; }
  .wrapper .main-header-icon4 {
    position: absolute;
    top: 1%;
    left: 16%; }
  .wrapper .main-header-icon5 {
    position: absolute;
    top: 43%;
    left: 36%; }
  .wrapper .main-header-icon7 {
    position: absolute;
    top: -42%;
    right: 6%; }
  .wrapper .main-header-icon8 {
    position: absolute;
    top: 78%;
    right: 7%; }
  .wrapper .main-header-icon9 {
    position: absolute;
    top: 45%;
    right: 16%; }
  .wrapper .main-header-icon10 {
    position: absolute;
    top: 95%;
    right: -3%;
    z-index: 0; }
  .wrapper .main-header-icon11 {
    position: absolute;
    top: 150%;
    left: 0%;
    z-index: 0; }

.main-header {
  padding: 373px 0px 535px 0px;
  background-color: #c2aee2; }

.main-header_section1 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 431px; }
  .main-header_section1 .section1-text {
    max-width: 443px;
    right: 247px;
    margin-right: 247px; }
    .main-header_section1 .section1-text h2 {
      margin-bottom: 35px; }

.main-header_section2 .section2-text {
  max-width: 512px; }
  .main-header_section2 .section2-text h2 {
    margin-bottom: 35px; }

@media (max-width: 800px) {
  .main-header {
    padding: 400px 0px 250px 0px; }

  .main-header_section1 {
    text-align: center;
    display: block;
    margin-bottom: 70%; }

  .main-header_section1 .section1-text {
    right: 0px;
    margin-right: 0px; }

  .main-header_section2 {
    text-align: center;
    display: block; }

  .main-header_section1 .section1-text h2,
  .main-header_section2 .section2-text h2 {
    font-size: 47px; }

  .wrapper .main-header-icon1 {
    width: 100%;
    position: absolute;
    top: 100%;
    right: -1%;
    z-index: 1; }
  .wrapper .main-header-icon6 {
    display: none; }
  .wrapper .main-header-icon2 {
    display: none; }
  .wrapper .main-header-icon3 {
    width: 30%;
    top: -42%;
    left: 1%; }
  .wrapper .main-header-icon4 {
    width: 50%;
    top: -44%;
    left: 28%; }
  .wrapper .main-header-icon5 {
    width: 20%;
    top: -20%;
    left: 61%; }
  .wrapper .main-header-icon7 {
    display: none; }
  .wrapper .main-header-icon8 {
    display: none; }
  .wrapper .main-header-icon9 {
    width: 50%;
    top: 31%;
    left: 70%; }
  .wrapper .main-header-icon10 {
    display: none; }
  .wrapper .main-header-icon11 {
    display: none; } }
.under-main-header {
  background-color: #f6b60d;
  text-align: center;
  padding: 234px 0px 291px 0px; }
  .under-main-header .text_under-main {
    display: inline-block;
    max-width: 660px; }

@media (max-width: 800px) {
  .under-main-header .text_under-main h3 {
    font-size: 69px;
    line-height: 83px; } }
.main-footer-top .main-container .main-box1 .box-text h4, .main-footer-top .main-container .main-box2 .box-text2 h4, .main-footer-top .main-container .main-box3 .box-text3 h4, .main-footer-top .main-container .main-box4 .box-text4 h4, .main-footer-top .main-container .main-box5 .box-text5 h4, .registration h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 65px; }

.main-footer-top .main-container .main-box1 .box-text p, .main-footer-top .main-container .main-box2 .box-text2 p, .main-footer-top .main-container .main-box3 .box-text3 p, .main-footer-top .main-container .main-box4 .box-text4 p, .main-footer-top .main-container .main-box5 .box-text5 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px; }

.main-footer-top {
  background-color: #127b75;
  padding: 124px 0px 136px 0px;
  text-align: center; }
  .main-footer-top h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 82px;
    line-height: 85px;
    letter-spacing: 0.5px;
    color: #e6dee7;
    margin-bottom: 156px; }
  .main-footer-top .main-container {
    position: relative; }
    .main-footer-top .main-container .main-box1 {
      display: flex;
      justify-content: flex-end;
      text-align: left;
      padding: 193px 213px 203px 0px;
      background-color: #f6b60d; }
      .main-footer-top .main-container .main-box1 .box-text {
        max-width: 457px; }
        .main-footer-top .main-container .main-box1 .box-text h4 {
          margin-bottom: 32px;
          color: #1c182a; }
        .main-footer-top .main-container .main-box1 .box-text p {
          color: #1c182a; }
    .main-footer-top .main-container .main-box2 {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      padding: 150px 0px 159px 70px;
      background-color: #e03fff; }
      .main-footer-top .main-container .main-box2 .box-text2 {
        max-width: 465px; }
        .main-footer-top .main-container .main-box2 .box-text2 h4 {
          margin-bottom: 32px;
          color: #e6dee7; }
        .main-footer-top .main-container .main-box2 .box-text2 p {
          color: #e6dee7; }
    .main-footer-top .main-container .main-box3 {
      display: flex;
      justify-content: flex-end;
      text-align: left;
      padding: 146px 218px 156px 0px; }
      .main-footer-top .main-container .main-box3 .box-text3 {
        max-width: 489px; }
        .main-footer-top .main-container .main-box3 .box-text3 h4 {
          margin-bottom: 32px;
          color: #e6dee7; }
        .main-footer-top .main-container .main-box3 .box-text3 p {
          color: #e6dee7; }
    .main-footer-top .main-container .main-box4 {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      padding: 400px 0px 416px 0px; }
      .main-footer-top .main-container .main-box4 .box-text4 {
        max-width: 465px; }
        .main-footer-top .main-container .main-box4 .box-text4 h4 {
          margin-bottom: 32px;
          color: #e6dee7; }
        .main-footer-top .main-container .main-box4 .box-text4 p {
          color: #e6dee7; }
    .main-footer-top .main-container .main-box5 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 150px 0px 159px 00px; }
      .main-footer-top .main-container .main-box5 .box-text5 {
        max-width: 465px; }
        .main-footer-top .main-container .main-box5 .box-text5 h4 {
          margin-bottom: 32px;
          color: #e6dee7; }
        .main-footer-top .main-container .main-box5 .box-text5 p {
          color: #e6dee7; }
      .main-footer-top .main-container .main-box5 form {
        background: #07605a;
        border-radius: 0px;
        max-width: 650px;
        padding: 40px;
        text-align: left; }
        .main-footer-top .main-container .main-box5 form h5 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 39px;
          line-height: 40px;
          /* identical to box height, or 103% */
          letter-spacing: 0.3px;
          color: #e6dee7;
          margin-bottom: 42px; }
        .main-footer-top .main-container .main-box5 form input {
          margin-bottom: 15px;
          width: 277px;
          height: 86px;
          border: 0;
          border-bottom: 2px solid #d3cfe3;
          background-color: rgba(0, 0, 0, 0);
          outline: 0; }
        .main-footer-top .main-container .main-box5 form .input1 {
          margin-right: 8px; }
        .main-footer-top .main-container .main-box5 form .input3 {
          margin-right: 8px; }
        .main-footer-top .main-container .main-box5 form .input5 {
          width: 100%;
          margin-bottom: 40px; }
        .main-footer-top .main-container .main-box5 form input::placeholder {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 31px;
          /* identical to box height, or 172% */
          letter-spacing: 0.3px;
          color: #e6dee7; }
        .main-footer-top .main-container .main-box5 form button {
          width: 157px;
          height: 55px;
          background: #e03fff;
          border: 2px solid #e03fff;
          border-radius: 0px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 31px;
          /* identical to box height, or 129% */
          letter-spacing: 0.3px;
          color: #ffffff; }
    .main-footer-top .main-container .main-footer-icon1 {
      position: absolute;
      top: -3%;
      left: -2%; }
    .main-footer-top .main-container .main-footer-icon2 {
      position: absolute;
      top: 20%;
      right: 12%; }
    .main-footer-top .main-container .main-footer-icon3 {
      position: absolute;
      top: 25%;
      right: 37%; }
    .main-footer-top .main-container .main-footer-icon4 {
      position: absolute;
      top: 17%;
      right: 39%; }
    .main-footer-top .main-container .main-footer-icon5 {
      position: absolute;
      top: 32%;
      left: -2%;
      z-index: 1; }
    .main-footer-top .main-container .main-footer-icon6 {
      position: absolute;
      top: 32.5%;
      left: 0%;
      z-index: 0; }
    .main-footer-top .main-container .main-footer-icon7 {
      position: absolute;
      top: 49%;
      left: 2%; }
    .main-footer-top .main-container .main-footer-icon8 {
      position: absolute;
      top: 51%;
      right: -4%; }
    .main-footer-top .main-container .main-footer-icon10 {
      position: absolute;
      top: 59%;
      right: 41%; }
    .main-footer-top .main-container .main-footer-icon11 {
      position: absolute;
      top: 97%;
      right: 58%; }

@media (max-width: 800px) {
  .main-footer-top h2 {
    font-size: 60px; }

  .main-footer-top .main-container .main-footer-icon1 {
    width: 84%;
    top: -1%;
    left: 12%; }
  .main-footer-top .main-container .main-footer-icon2 {
    display: none; }
  .main-footer-top .main-container .main-footer-icon3 {
    display: none; }
  .main-footer-top .main-container .main-footer-icon4 {
    display: none; }
  .main-footer-top .main-container .main-footer-icon5 {
    display: none; }
  .main-footer-top .main-container .main-footer-icon6 {
    width: 60%;
    top: 33.5%;
    left: 18%; }
  .main-footer-top .main-container .main-footer-icon7 {
    display: none; }
  .main-footer-top .main-container .main-footer-icon8 {
    width: 100%;
    top: 50%;
    right: -4%; }
  .main-footer-top .main-container .main-footer-icon9 {
    display: none; }
  .main-footer-top .main-container .main-footer-icon10 {
    display: none; }
  .main-footer-top .main-container .main-footer-icon11 {
    display: none; }

  .main-footer-top .main-container .main-box1 {
    padding: 300px 0px 203px 0px;
    display: block;
    text-align: center; }
  .main-footer-top .main-container .main-box2 {
    padding: 150px 0px 159px 0px;
    display: block;
    text-align: center; }
  .main-footer-top .main-container .main-box3 {
    padding: 320px 0px 156px 0px;
    display: block;
    text-align: center; }
  .main-footer-top .main-container .main-box4 {
    display: block;
    text-align: center;
    padding: 400px 0px 250px 0px; }
  .main-footer-top .main-container .main-box5 {
    flex-wrap: wrap;
    padding: 0px 0px 100px 0px; }

  .main-footer-top .main-container .main-box1 .box-text h4,
  .main-footer-top .main-container .main-box2 .box-text2 h4,
  .main-footer-top .main-container .main-box3 .box-text3 h4,
  .main-footer-top .main-container .main-box4 .box-text4 h4,
  .main-footer-top .main-container .main-box5 .box-text5 h4,
  .registration h3 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 600; } }
.main-footer-img {
  border-top: 2px solid #07605a;
  background-color: #127b75;
  padding: 204px 0px 436px 0px; }
  .main-footer-img .wrapper-img {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .main-footer-img .wrapper-img p {
      margin-top: 10px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 41px;
      /* identical to box height, or 117% */
      color: #e8f2e0;
      text-align: center; }
    .main-footer-img .wrapper-img .footer-3 {
      position: absolute;
      top: -13%;
      right: 52%; }

@media (max-width: 800px) {
  .main-footer-img {
    padding: 150px 0px 250px 0px; }

  .main-footer-img .wrapper-img {
    flex-wrap: wrap; }
    .main-footer-img .wrapper-img img {
      width: 100%; }
    .main-footer-img .wrapper-img .footer-3 {
      display: none; }
    .main-footer-img .wrapper-img .box1 {
      margin-bottom: 100px; } }
.registration {
  padding: 297px 0px 118px 0px;
  text-align: center;
  background-color: #ff6c46; }
  .registration h3 {
    color: #e6dee7;
    margin-bottom: 68px; }
  .registration input {
    width: 530px;
    height: 55px;
    border: 0;
    border-bottom: 2px solid #d3cfe3;
    background-color: rgba(0, 0, 0, 0);
    outline: 0; }
  .registration input::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    /* identical to box height, or 172% */
    letter-spacing: 0.3px;
    color: #e6dee7; }
  .registration .registration_container {
    position: relative; }
    .registration .registration_container .reg-img {
      position: absolute;
      top: -254%;
      right: 34%; }

@media (max-width: 800px) {
  .registration .registration_container .reg-img {
    width: 100%;
    top: -267%;
    right: -1%; } }
.registration input {
  width: 300px; }

footer {
  padding: 100px 0px 81px 0px;
  background-color: #e03fff;
  text-align: left; }
  footer .footer-box {
    max-width: 660px;
    display: flex;
    flex-wrap: wrap; }
    footer .footer-box .footer-box_item {
      width: 50%; }
      footer .footer-box .footer-box_item h5 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 33px;
        color: #e6dee7;
        margin-top: 10px; }
      footer .footer-box .footer-box_item ul > li {
        list-style: none;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        /* identical to box height, or 165% */
        letter-spacing: 0.3px;
        color: #e6dee7; }
      footer .footer-box .footer-box_item ul > li:last-child {
        margin-bottom: 40px; }
      footer .footer-box .footer-box_item p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */
        letter-spacing: 0.3px;
        color: #e6dee7;
        padding-right: 40px; }
  footer .footer-box_item:nth-child(2) {
    padding-left: 40px; }
  footer .footer-box_item:nth-child(4) {
    padding-left: 40px; }
  footer .footer-p {
    margin-top: 54px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height, or 107% */
    letter-spacing: 0.3px;
    color: #e6dee7; }
    footer .footer-p p {
      margin-bottom: 22px; }
  footer .footer1 {
    position: absolute;
    top: 65%;
    left: 60%; }
  footer .footer2 {
    position: absolute;
    top: -2%;
    right: 0%; }
  footer .footer3 {
    position: absolute;
    top: 106%;
    left: 0%; }

@media (max-width: 800px) {
  footer .footer1 {
    display: none; }
  footer .footer2 {
    top: 103%;
    right: 0%; } }

/*# sourceMappingURL=style.css.map */
